<!DOCTYPE html>
<html lang="en">

    {{> head }}

<body>

    {{> navbar }}

<div class="table">

    <div class="cols-8">
        <h1>A mi Princesa le gustan los conejos</h1>
    </div>

    <div class="cols-4">
        <img src="assets/img/rabbit.jpg" alt="Conejos" class="img-thumbnail">
    </div>

</div>

    {{> foot }}

</body>

</html>